
.idea/workspace.xml
.idea/vcs.xml
.idea/PYT8-frii.iml
.idea/modules.xml
.idea/misc.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/markdown-navigator.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/dictionaries/yartsmik.xml
lesson2/test.py
